html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    title Project Hex

    script(src="polyfills.js")
    link(href="index.css", rel="stylesheet")

  body

    h1#support Your browser does not support BabylonJS or WebGL is not enabled! <br /><br /> :(
    canvas#game

    script(src="vendor.js")
    script(src="index.js")
