html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		
		title Project Hex

		script(src="polyfills.js")

		style.
			html, body {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				background: black;
			}

			h1#support {
				display: none;
				margin-top: 10%;
				padding: 10%;
				font-family: Consolas, monaco, monospace;
				color: white;
				text-align: center;
			}

			canvas#game {
				width: 100%;
				height: 100%;
				touch-action: none;
			}

	body

		h1#support Your browser does not support BabylonJS or WebGL is not enabled! <br /><br /> :(
		canvas#game

		script(src="vendor.js")
		script(src="index.js")
